*{
    margin: 0px;
    padding: 0px;
}

.home{
    width: 100%;
    height: 100vh;
}

.home .content{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #dddddd;
}

.home .content .menu{
    height: 50px;
    width: 100%;
    border: 1px solid #dddddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #F1F1F1;
}

.home .content .menu nav{
    float: left;
    color: #202020;
    border: 1px solid #F1F1F1;
    padding: 5px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    top: 18px;
    margin-left: 10px;
    border-bottom-color: #dddddd;
}

.home .content .menu nav:first-of-type{
    margin-left: 20px;
}

.home .content .menu nav:hover{
    cursor: pointer;
    color: #880015;
    background-color: #FFFFFF;
    border-top-color: #dddddd;
    border-right-color: #dddddd;
    border-left-color: #dddddd;
    border-bottom-color: #FFFFFF;
}

.assetsAndLiabilities_panel{
    margin-top: 10px;
}

.assetsAndLiabilities_panel .sun{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #EEE9E9;
    opacity:0.8;
}

.assetsAndLiabilities_panel .sun span{
    color: #880015;
    font-size: 36px;
    font-weight: 900;
}

.assetsAndLiabilities_panel .item{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
}


.assetsAndLiabilities_panel .item table{
    border-collapse:collapse;
    width: 100%;
    margin-bottom: 20px;
}

.assetsAndLiabilities_panel .item table tr{
    height: 40px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.assetsAndLiabilities_panel .item table tr:first-of-type{
    border: 1px solid #880015;
}

.assetsAndLiabilities_panel .item table tr td{
    font-size: 13px;
    color: #2B2B2B;
}

.assetsAndLiabilities_panel .item table tr td:first-of-type{
    width: 50px;
    background-color: #DF5353;
    color: #FFFFFF;
    text-align: center;
}

.assetsAndLiabilities_panel .item table tr td:last-of-type{
    width: 100px;
    text-align: center;
}

.assetsAndLiabilities_panel .item table tr td:nth-child(2){
    text-indent: 10px;
}

.assetsAndLiabilities_panel .item table tr th{
    color: #2B2B2B;
}

.assetsAndLiabilities_panel .item table tr th:nth-child(1){
    text-align: left;
    text-indent: 10px;
}

.assetsAndLiabilities_panel .item table tr th:last-of-type{
    width: 80px;
}


.accountingFlow_panel>div{
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.accountingFlow_panel>div table{
    margin-top: 20px;
    width: 100%;
    border-collapse:collapse;
    white-space: nowrap;
}

.accountingFlow_panel>div table th{
    border: 1px solid #dddddd;
    height: 35px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
}

.accountingFlow_panel>div table tr:first-of-type{
    background-color: #880015;
}

.accountingFlow_panel>div table th:first-of-type{
    width: 50px;
}

.accountingFlow_panel>div table td{
    height: 30px;
    font-size: 14px;
    border: 1px solid #dddddd;
    text-indent: 5px;
    font-size: 13px;
}

.accountingFlow_panel>div table td:first-of-type{
    text-indent: 0px;
    text-align: center;
}

.accountingFlow_panel>div table td:last-of-type{
    width: 235px;
}

.accountingFlow_panel>div table td:last-of-type div{
    width: 230px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

    height: auto;
    text-align: left;
    margin-top: auto;
}


.accountingFlow_panel>div div{
    height: 50px;
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

.accountingFlow_panel>div div button{
    border: 1px solid #880015;
    background-color: #880015;
    color: #FFFFFF;
    height: 30px;
    width: 80px;
    border-radius: 3px;
}
.accountingFlow_panel>div div button:first-of-type{
    margin-left: 20px;
    margin-right: 20px;
}

.accountingFlow_panel>div div button:hover{
    background-color: #760012;
    border: 1px solid #760012;
    cursor: pointer;
}

.accountingFlow_panel>div div>span span{
    color: #880015;
}